.flight-select__no-flights-available
  .no-flights-box
    svg.svg-icon.svg-fill.icon.flight-select__no-flights-with-bg(width="1024.000000pt" height="1024.000000pt" viewbox="0 0 1024.000000 1024.000000" preserveaspectratio="xMidYMid meet")
      g(transform="translate(0.000000,1024.000000) scale(0.100000,-0.100000)" fill="#C1C1C1" stroke="none")
        path(d="M2706 9379 c-141 -15 -313 -66 -445 -133 -85 -44 -224 -143 -301\
        -215 l-75 -71 -153 153 -152 152 -303 -303 -302 -302 3841 -3841 3841 -3841\
        302 303 302 303 -351 351 -351 351 98 64 c287 188 497 515 555 864 27 165 19\
        268 -130 1520 -78 654 -142 1200 -142 1213 l0 23 223 2 222 3 3 638 2 637\
        -300 0 c-232 0 -302 3 -305 13 -2 6 -31 246 -65 532 -33 286 -69 556 -80 600\
        -116 492 -484 851 -988 967 l-97 22 -2385 2 c-1312 1 -2420 -2 -2464 -7z\
        m4906 -1070 c121 -25 244 -123 295 -235 14 -31 30 -89 35 -128 13 -92 137\
        -1959 131 -1968 -2 -5 -723 -8 -1601 -8 l-1597 0 -1159 1159 -1159 1159 34 10\
        c19 6 43 13 54 15 11 3 1121 5 2467 6 1757 1 2462 -2 2500 -10z m498 -4044 l0\
        -425 -552 0 -553 0 -302 302 -303 303 0 122 0 123 855 0 855 0 0 -425z")
        path(d="M1458 7289 l-3 -34 -303 -3 -302 -2 2 -638 3 -637 223 -3 c214 -2\
        222 -3 222 -22 0 -11 -64 -557 -141 -1213 -149 -1255 -158 -1359 -131 -1523\
        31 -186 128 -418 234 -559 102 -135 255 -271 402 -357 l46 -28 0 -330 c0 -366\
        7 -424 62 -558 76 -183 224 -343 399 -431 142 -71 233 -93 384 -94 131 0 211\
        15 323 60 206 82 384 259 470 464 53 129 62 199 62 489 l0 260 1615 0 c888 0\
        1615 3 1615 8 0 4 -861 868 -1913 1920 l-1912 1912 -322 0 c-177 0 -324 3\
        -326 8 -2 4 5 141 16 306 l20 298 -371 371 c-368 368 -371 370 -374 336z\
        m2382 -3024 l0 -425 -855 0 -855 0 0 425 0 425 855 0 855 0 0 -425z")
        path(d="M6830 1782 c0 -195 14 -284 62 -400 143 -345 515 -567 878 -523 49 6\
        98 15 109 19 18 6 -54 82 -514 542 l-535 535 0 -173z")
    span.no-flights-box__message= translations.errorText
    a(href=`${languageCode === "uk_UA" ? "/ua" : languageCode === "ru_RU" ? "/" : "/" + languageCode.split("_")[0]}`).base-button.base-button--primary.no-flights-found-button
        = translations.buttonText
