div
    strong
        |Entschädigung für nicht genutzte Tickets
div
    |Im Falle einer Stornierung der Reise hat der Fahrgast Anspruch auf Rückerstattung des Ticketpreises abzüglich der Vorverkaufsgebühr. Bei der Rückgabe eines Tickets wird folgende Gebühr erhoben:
ul
    li
        |mehr als 30 Tage vor Abflug - 10 % des Ticketpreises;
    li
        |mehr als 72 Stunden vor Abflug – 25 % des Ticketpreises;
    li
        |mehr als 24 Stunden, aber weniger als 72 Stunden vor Abflug – 50 % des Ticketpreises;
    li
        |weniger als 24 Stunden vor Abflug - 100 % des Ticketpreises.
div
    strong
        |Achtung!
    |&nbsp;Aktionstickets und Tickets mit offenem Datum sind nicht erstattungsfähig.
br
div
    strong
        |Allgemeine Anforderungen
div
    |1.&nbsp;Der Fahrgast muss spätestens 30 Minuten vor der Abfahrt des Busses am Einstiegspunkt eintreffen. Bei verspätetem Boarding trägt der Passagier die Verantwortung.
div
    |2.&nbsp;Ein Passagier, der ein Ticket mit offenem Rückflugdatum besitzt, kann mit einem Flug zurückkehren, auf dem Sitzplätze verfügbar sind.&nbsp;Ein Ticket mit offenem Abflugdatum ist 6 Monate ab dem Datum der ersten Reise gültig.
div
    |3.&nbsp;Wenn ein Passagier gegen Visabestimmungen verstößt (Ablauf von Visa, Ersatz eines Reisepasses durch ein anderes Dokument, andere Ansprüche von Grenzschutzbeamten), behält sich der Beförderer das Recht vor, den Passagier nicht ohne finanzielle Entschädigung für ein nicht genutztes Ticket zu befördern.