div
    strong
        |Компенсация за неиспользованный билет
div
    |В случае отказа от поездки, пассажир имеет право на возврат стоимости билета за вычетом сбора за предварительную продажу. При возврате билета снимается следующий сбор:
ul
    li
        |более 30 дней до отправки - 10% от стоимости билета;
    li
        |более 72 часов до отправки - 25% от стоимости билета;
    li
        |более 24 часов, но менее 72 часов до отправления - 50% от стоимости билета;
    li
        |менее 24 часов до отправления - 100% от стоимости билета.
div
    strong
        |Внимание!
    |&nbsp;Акционные билеты и билеты с открытой датой возврату не подлежат.
br
div
    strong
        |Общие требования
div
    |1.Пассажир должен прибыть на посадку не позже, чем за 30 минут до отправления автобуса. При запаздывании на посадку ответственность несет пассажир.
div
    |2.&nbsp;Пассажир, имеющий билет с открытой датой обратного выезда, может вернуться рейсом, на котором есть свободные места.&nbsp;Билет с открытой датой выезда действителен в течение 6 месяцев с даты первой поездки.
div
    |3.&nbsp;При нарушении пассажиром визовых режимов (окончание сроков виз, замена паспорта другим документом, других претензий пограничников) перевозчик оставляет за собой право не осуществлять перевозку пассажира без денежной компенсации за неиспользованный билет.