div
    strong
        |Компенсація за невикористаний квиток
div
    |У&nbsp;випадку відмови від поїздки,&nbsp;пасажир має право на повернення вартості квитка за вирахуванням збору за попередній продаж. При поверненні квитка знімається наступний збір:
ul
    li
        |понад 30-ти днів до відправлення - 10% від вартості квитка;
    li
        |понад 72-х годин до відправлення - 25% від вартості квитка;
    li
        |понад 24-х годин, але менше 72-х годин до відправлення - 50% від вартості квитка;
    li
        |менше 24-х годин до відправлення - 100% від вартості квитка.
div
    strong
        |Увага!
    |&nbsp;Акційні квитки і квитки з відкритою датою поверненню не підлягають.
br
div
    strong
        |Загальні вимоги 
div
    |1.Пасажир повинен прибути на посадку не пiзніше, як за&nbsp;30 хвилин до вiдправлення автобуса. В разi запiзнення на посадку вiдповiдальнiсть несе пасажир.
div
    |2.&nbsp;Пасажир, який має квиток з відкритою датою зворотного виїзду, може повернутись рейсом, на якому є вільні місця.&nbsp;Квиток з відкритою датою виїзду дійсний протягом 6 місяців з дати першої поїздки.
div
    |3.&nbsp;При&nbsp;порушенні пасажиром візових режимів (закінчення термінів віз, заміна паспорта іншим документом, інших претензій прикордонників) перевiзник залишає за собою право не здійснювати перевезення пасажира без грошової компенсації за невикористаний квиток.